<%= link_to "add stock", new_stock_path, class: "btn btn-primary" %>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th class="col-md-4">name</th>
      <th class="col-md-6">description</th>
      <th class="col-md-2">quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @stock.each do |s| %>
    <tr>
      <td><%= s[:details].name %></td>
      <td><%= s[:details].short_description %></td>
      <td><%= s[:quantity] %></td>
    </tr>
    <% end %>
  </tbody>
</table>