<!DOCTYPE html>
<html>
<head>
  <title>Orchestrate</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<hr/>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
